# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/

# Test cache
src/.pytest_cache/
src/**/__pycache__/

# Secrets and env
.env
src/etc/secret/

# Storage files
src/storage/embeddings/
src/storage/test_images/

# GitHub CI
.github/
command.txt
